<template>
    <button type="button" class="mr-1 g-transparent font-semibold py-2 px-4 border rounded-lg" :class="classes"
        :data-action="action"
        :onclick="click">
        <span v-html="text"></span>
    </button>
</template>

<script>
    export default {
        name: "ButtonComponent",

        props: [ 'text', 'type' , 'action', 'meta' ],

        data() {
            return {
                action: null,
                classes: null,
                click: null
            }
        },

        computed: {
            metadata() {
                if (typeof this.meta === "undefined") {
                   return [];
                }

                return JSON.parse(this.meta);
            }
        },

        mounted() {
            this.click = this.metadata.onclick;

            this.getType();
        },

        methods: {
            getType: function() {
                if (this.type === 'green') {
                    this.classes = 'hover:bg-green hover:text-white hover:border-transparent text-green-dark border-green'
                }

                if (this.type === 'red') {
                    this.classes = 'hover:bg-red hover:text-white hover:border-transparent text-red-dark border-red'
                }

                if (this.type === 'blue') {
                    this.classes = 'hover:bg-blue hover:text-white hover:border-transparent text-blue-dark border-blue'
                }
            }
        }
    }
</script>

<style scoped>

</style>