<template>
    <a :href="link"
       class="mr-1 g-transparent font-semibold py-2 px-4 border rounded-lg" :class="classes">
        <span v-html="text"></span>
    </a>
</template>

<script>
    export default {
        name: "LinkComponent",

        props: [ 'text', 'type' , 'action', 'meta' ],

        data() {
            return {
                link: null,
                classes: null
            }
        },

        computed: {
            metadata() {
                if (typeof this.meta === "undefined") {
                   return [];
                }

                return JSON.parse(this.meta);
            }
        },

        mounted() {
            this.link = this.action;

            for (let mapping in this.metadata.mappings) {
                this.link = this.link.replace(mapping, this.metadata.row[mapping] )
            }

            this.getType();
        },

        methods: {
            getType: function() {
                if (this.type === 'green') {
                    this.classes = 'hover:bg-green hover:text-white hover:border-transparent text-green-dark border-green'
                }

                if (this.type === 'red') {
                    this.classes = 'hover:bg-red hover:text-white hover:border-transparent text-red-dark border-red'
                }

                if (this.type === 'orange') {
                    this.classes = 'hover:bg-orange hover:text-white hover:border-transparent text-orange-dark border-orange'
                }

                if (this.type === 'blue') {
                    this.classes = 'hover:bg-blue hover:text-white hover:border-transparent text-blue-dark border-blue'
                }
            }
        }
    }
</script>

<style scoped>

</style>